* {
  margin: 0;
  padding: 0;
}

.linkUrl {
  font-size: 20px;
  text-decoration: none;
  color: #a9a9a9;
}

.navigaionPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameCite {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

.navLeft {
  margin-right: 180px;
}

.authorization button {
  border: 1px solid #a9a9a9;
  background: white;
  padding: 15px;
  margin-right: 10px;
  cursor: pointer;
}
